nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.newCounterButton{
    margin-top: 1rem;
}

li{
    padding: 0;
    display: flex;
    gap: 1rem; 
    margin-bottom: 1rem;      
}